:root {
  --primary-color: #e6c744;
  --secondary-color: #E9FAE9;
  --bg-color: #f1f1f1;
  --text-color: #000000;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: rubik, sans-serif;
 
}

body {
  background-color: var(--white-color);
  color: var(--text-color);
}

.main-section {
  background-color: var(--secondary-color);
}

nav {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30%;
}

.menu-links ul {
  display: flex;
}

.menu-links ul a {
  color: var(--text-color);
  /* padding: 5px 0; */
  margin: 0 25px;
}

.active {
  background-color: var(--white-color);
  color: var(--text-color);
  padding: 10px 15px;
  border-radius: 20px;
}
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right i {
  font-size: 15px;
  background-color: var(--white-color);
  padding: 10px;
  margin: 0 10px;
  border-radius: 50px;
}

#menu-icon {
  display: none;
}

/* Hero section */
.hero-section {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 100px 50px 0 50px;
}

.left-hero-section {
  flex: 50%;
  padding-left: 10%;
}

.left-hero-section img {
  width: 20%;
}

.right-hero-section {
  display: flex;
  justify-content: end;
  flex: 50%;
  padding-top: 40px;
  margin: 0;
}

.right-hero-section img {
  width: 100%;
}

.left-hero-section-subtitle {
  font-size: 24px;
}

.left-herosection-title {
  font-size: 50px;
  margin-top: 15px;
}

.btn {
  padding: 15px 25px;
  background-color: var(--text-color);
  color: var(--white-color);
  border: none;
  border-radius: 50px;
  margin-top: 20px;
}

.logo-bar {
  background-color: var(--primary-color);
  padding: 20px 12%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

main {
  padding: 100px 12%;
}

.title {
  font-size: 30px;
  font-weight: 500;
}

#tidings {
  color: #818181;
}

.box-containers {
  display: flex;
  justify-content: space-evenly !important;
}

.box-one {
  background-color: #e9fae9;
  align-items: center;
  display: flex;
  padding: 20px 40px;
  margin: 30px 20px 0 0;
  border-radius: 15px;
  flex: 33.3%;
}

.box-one-content {
  flex: 50%;
}

.box-one-content p {
  font-size: 15px;
  margin-bottom: 10px;
}

.box-one-content h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.box-one img {
  width: 50%;
}

.box-one-content button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: white;
}

.box-one-content button:hover {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: var(--text-color);
  transition: all 0.5s ease;
}

.box-two {
  background-color: #edd5d8;
  align-items: center;
  display: flex;
  padding: 20px 40px;
  margin: 30px 20px 0 0;
  border-radius: 15px;
  flex: 33.3%;
}

.box-two-content {
  flex: 50%;
}

.box-two-content p {
  font-size: 15px;
  margin-bottom: 10px;
}

.box-two-content h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.box-two img {
  width: 30%;
}

.box-two-content button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: white;
}

.box-two-content button:hover {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  color: white;
  background-color: var(--text-color);
  transition: all 0.5s ease;
}

.box-three {
  background-color: #dae7f7;
  align-items: center;
  display: flex;
  padding: 20px 40px;
  margin: 30px 20px 0 0;
  border-radius: 15px;
  flex: 33.3%;
}

.box-three img {
  width: 50%;
}

.box-three-content {
  flex: 50%;
}

.box-three-content p {
  font-size: 15px;
  margin-bottom: 10px;
}

.box-three-content h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.box-three-content button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: white;
}

.section-heading {
  padding: 10px 12%;
}

.section-heading h1 {
  font-size: 30px;
  font-weight: 500;
}

.products-section {
  display: flex;
  justify-content: space-between;
  padding: 20px 12%;
  margin-bottom: 100px;
}

.product-box {
  position: relative;
  /* border: 1px solid; */
}

/* .img-box {
    background-color: var(--bg-color);
} */

.img-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

#favourite {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 20px;
  color: red;
  font-size: 20px;
}

.product-box h3 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 15px;
}

.product-box h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.price-review {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.price-review button {
  padding: 10px 20px;
  background-color: white;
  color: rgb(234, 116, 6);
  border: 2px solid rgb(234, 116, 6);
  border-radius: 10px;
}

.reviews {
  display: flex;
  align-items: center;
  color: rgb(234, 116, 6);
}

.special-offer {
    padding: 10px 12%;
    margin-bottom: 70px;
}

.special-offer-box {
    display: flex;
    background-color: var(--secondary-color);
    padding: 20px 50px 0 100px;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}


.special-offer-content {
    flex: 60%;
}

.special-offer-content img{
    width: 20%;
    height: auto;
}

.special-offer-content h2{
    font-size: 50px;
    margin-bottom: 10px;
}

.special-offer-content p {
    font-size: 20px;
    margin-bottom: 30px;

}

.special-offer-content button {
    padding: 15px 25px;
    border-radius: 50px;
    background-color: var(--text-color);
    color: var(--white-color);
    border: none;
}

.special-offer-image {
    display: flex;
    align-items: end;
    flex: 40%;

}

.special-offer-image img {
    width: 80%;
    height: auto;
}

footer {
    padding: 150px 12%;
    margin-top: 150px;
    margin-bottom: 0;
    background-color: var(--bg-color);
}

.footer-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-sections h2 {
font-size: 20px;
font-weight: 500;
line-height: 40px;
}

.footer-sections ul li {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
